<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <title>Help</title>
</head>
<body>
<div class="container">
    <br>
    <span><b>ctrl+1</b>&nbsp;frame mode</span><br>
    <span><b>ctrl+2</b>&nbsp;frameless mode</span><br>
    <span><b>ctrl+3</b>&nbsp;fix at upper left</span><br>
    <span><b>ctrl+4</b>&nbsp;fix at upper right</span><br>
    <span><b>ctrl+5</b>&nbsp;fix at lower right</span><br>
    <span><b>ctrl+d</b>&nbsp;select display(muilt-display)</span><br>
</div>
</body>
</html>